@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  body {
    @apply bg-black min-h-screen antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 